<html>
   <header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="text-white bg-dark" href="#">Navbar</a>
        </div>
    </nav>
   </header>
</html>